.available-cinema{
    max-width: 70%;
    margin-left: 15%;
    margin-top: 1%;
    text-align: left;
}

.button-time-slot{
    position: absolute;
    right: 45%;
    top: 17%;
}

.cinema-name-location{
    left: 10px;
}