.movie1{
    margin: auto;
    width: 100%;
    height: fit-content;
}

.movie2{
    margin: auto;
    width: 100%;
    height: fit-content;
}

.movie3{
    margin: auto;
    width: 100%;
    height: fit-content;
}

.movie4{
    margin: auto;
    width: 100%;
    height: fit-content;
}