.search {
   border-radius: 5px;
   max-width: 20%;
   padding-top: 15px;
    margin-top: 2px;
    margin-right: 200px;
}
.responsive {
    width: 250px;
    height: 50px;
    margin-right: 65%;
  }
  .location {
    margin-left: 10px;
  }

  .username{
    color: whitesmoke;
    float: right;
  }

  .SignIn{
    margin-left: 5px;
    margin-top: 15px;
    margin-right: 8px;
  }
  
  .Settings{
    position: absolute;
    right: 20px;
  }