.search {
   border-radius: 5px;
   max-width: 20%;
   padding-top: 15px;
    margin-top: 2px;
    margin-right: 200px;
}
.responsive {
    width: 150px;
    height: 30px;
    margin-right: 20px;
   
    
  }
  .location {
    padding-right: 200px;
    
  }