.nowShowingMovie {
   
        margin: auto;
        width: 100%;
        height: 300px;
        border-radius:10px;
    
}
.nowShowing {

    margin-bottom: 40px;
}
.movieTitle {
    
    position: relative;
    float: left;
    
    
}
#genre {
    margin-bottom: 30px;
}